@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

.game-btn {
    width: 86px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.75px;
    padding: 8px 12px;
    border-radius: 12px;
    background-color: rgb(40, 147, 228);
    color: rgb(255, 255, 133);
    border: 2px solid lightgoldenrodyellow;
    transition-duration: 0.5s;
}

.game-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.buttons-container {
    background-color: rgb(211, 211, 211);
    padding: 15px 0px 15px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 {
    letter-spacing: 1px;
    text-align: center;
    font-size: 2.3rem;
}

.title {
    background-color:rgba(48, 138, 216, 0.29);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.CAT {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(211, 211, 211);
    padding-top: 15px;
}

header {
    box-shadow: 0px 5px 10px rgba(0,0,0,0.24) inset,
    0px -6px 10px rgba(0,0,0,0.24) inset;
}

.bold {
    font-weight: bold;
}

.livescore {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: blanchedalmond;
    padding: 15px 0px;
    box-shadow: 0px 6px 15px -5px rgba(0,0,0,0.24) inset;
    flex-grow: 1;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.board {
    font-size: 20px;
    font-weight: bold;
}

.scoretext {
    font-style: italic;
    font-size: 14px;
}

.report-box {
    border: 2px solid black;
    background-color: rgb(247, 247, 247);
    border-radius: 12px;
    margin-top: 10px;
    font-size: 14px;
    font-style: italic;
    padding: 8px 20px;
    line-height: 135%;
    display: none;
}

.reload-btn {
    font-size: 20px;
    font-weight: bolder;
    border-radius: 50%;
    display: inline;
    /* align-self: center; */
    background-color: rgb(228, 40, 40);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    transition-duration: 0.5s;
    /* display: none; */
}

.reload-btn:hover {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24);
}

.interactive {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    justify-content: center;
    margin: 0px auto;
}

main {
    background-color: rgb(211, 211, 211);;
    min-height: 170px;
}

.reset-btn-container {
    width: 380px;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
}

footer {
    background-color: rgb(119, 141, 169);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 8px;
    text-align: center;    
}

footer a {
    color:white;
    font-size: 20px;
}
i {
    vertical-align: bottom;
    margin-right: 4px;
}

a:hover {
    color: black;
}