@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-family: 'Montserrat', sans-serif;
}

button {
    width: 86px;
    font-family: inherit;
    font-weight: bold;
    letter-spacing: 0.75px;
    padding: 8px 12px;
    border-radius: 10px;
}

.container {
    margin: 50px auto 0px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

h1 {
    letter-spacing: 1px;
    text-align: center;
    margin-top: 50px;
}